---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getCollection("textes");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"textes">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <main>
    <article>
      <div class="prose">
        {post.data.heroImage && <Image src={post.data.heroImage} alt="" />}
        <div class="title">
          <div class="date">
            {
              post.data.pubDate.toLocaleDateString("fr-FR", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })
            }
            {
              post.data.updatedDate && (
                <div class="last-updated-on">
                  Mis à jour le{" "}
                  {post.data.updatedDate.toLocaleDateString("fr-FR", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}
                </div>
              )
            }
          </div>
          <h1>{post.data.title}</h1>
          <hr />
        </div>
        <Content />
      </div>
    </article>
  </main>
</Layout>

<style lang="scss">
  main {
    width: calc(100% - 2em);
    max-width: 100%;
    margin: 0;
  }
  .prose {
    max-width: 1200px;
    width: 70%;
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));

    img {
      width: 100%;
      height: 50%;
      object-fit: cover;
    }
  }
  .title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
  }
  .title h1 {
    margin: 0 0 0.5em 0;
  }
  .date {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
  }
  .last-updated-on {
    font-style: italic;
  }
</style>
