---
import Layout from "@layouts/Layout.astro";
import TitleSection from "@components/index/TitleSection.astro";
import CitationCard from "@components/index/CitationCard.astro";
---

<Layout>
  <TitleSection />
  <CitationCard />
  <div class="container">Grille de présentation</div>
</Layout>
