---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="legal-mentions">
    <div class="container">
      <h1>Mentions Légales</h1>
      <p>
        Bienvenue sur notre site web. Conformément à la législation en vigueur,
        nous vous informons que ce site est édité par :
      </p>
      <h2>Éditeur du site</h2>
      <p>
        Nom de l'entreprise : Exemple SARL<br />
        Adresse : 123 Rue Exemple, 75000 Paris, France<br />
        Téléphone : +33 1 23 45 67 89<br />
        Email :
      </p>
    </div>
  </section></Layout
>
