---
import { Image } from "astro:assets";
import Bibliothèque from "../../assets/Images/bibliotheque.jpg";
---

<section class="citation-card">
  <div class="parallax-bg">
    <Image
      src={Bibliothèque}
      alt="Image d'une bibliothèque avec des livres colorés."
      width={2000}
      height={2000}
    />
  </div>
  <div class="text-section">
    <p class="quote">
      "Un livre est un jardin que l'on peut mettre dans sa poche."
    </p>
    <p class="author">Proverbe arabe</p>
  </div>
  <div class="text-section">
    <p class="quote">
      « Bien sûr, un livre peut te changer ! Et même changer ta vie. Comme un
      coup de foudre. Et on ne peut pas savoir quand la rencontre aura lieu. Il
      faut se méfier des livres. Ce sont des génies endormis. »
    </p>
    <p class="author">Gaël Faye</p>
  </div>
</section>

<style lang="scss">
  @use "@styles/config/variables" as *;
  @use "@styles/config/mixins" as *;

  .citation-card {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .parallax-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    .parallax-bg img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
    }
  }
  .text-section {
    width: 75%;
    max-height: 50vh;
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 20px;
    z-index: 1;
    text-align: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
  }
  .text-section:nth-child(3) {
    top: 47%;
  }

  @include breakpoint-up($breakpoint-tablet) {
    .text-section {
      width: 35%;
      left: 15%;
      max-height: 60vh;
    }
    .text-section:nth-child(3) {
      top: 55%;
      left: 55%;
    }
  }
</style>

<script>
  function handleParallax() {
    const container = document.querySelector(".citation-card") as HTMLElement;
    const parallaxImage = document.querySelector(
      ".parallax-bg img",
    ) as HTMLElement;

    if (!container || !parallaxImage) return;

    const containerTop = container.offsetTop;
    const containerHeight = container.offsetHeight;
    const windowHeight = window.innerHeight;
    const scrollPosition = window.scrollY;

    if (
      scrollPosition + windowHeight > containerTop &&
      scrollPosition < containerTop + containerHeight
    ) {
      const scrollInSection = scrollPosition - containerTop;
      parallaxImage.style.transform = `translateY(${scrollInSection * 0.5}px)`;
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    document.addEventListener("scroll", handleParallax);
    handleParallax();
  });
</script>
