---
const citations = [
  {
    quote:
      "« Les mots sont, à mon avis qui n'est pas si humble, notre plus inépuisable source de magie. Ils peuvent à la fois infliger des blessures et y porter remède. »",
    author: "Albus Dumbledore",
  },
  // {
  //   quote:
  //     "« La difficulté n'est pas d'écrire, mais d'écrire ce que l'on pense. »",
  //   author: "Stendhal",
  // },
];
---

<section class="citation-card">
  {
    citations.map((item) => (
      <div class="text-section">
        <p class="quote">{item.quote}</p>
        <p class="author">{item.author}</p>
      </div>
    ))
  }
</section>

<style lang="scss">
  @use "@styles/config/variables" as *;
  @use "@styles/config/mixins" as *;

  .citation-card {
    width: 100%;
    min-height: 50vh;
    background: url("../../assets/Images/whiteboard.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 2rem;
    padding: 4rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .text-section {
    width: 80%;
    border-radius: 20px;
    text-align: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
  }

  @include breakpoint-up($breakpoint-tablet) {
    .citation-card {
      min-height: 70vh;
      background-attachment: fixed;
    }

    .text-section {
      width: 70%;
    }
  }

  @include breakpoint-up($breakpoint-desktop) {
    .text-section {
      width: 50%;
    }
  }
</style>
